
*{
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
}

body{
    background-color: #eee;
    font-size: 1em;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 5vw;
    padding-left: 5vw;
    min-height: 80vh;

}

/* HEADER */

header{
    background-color: #82C8EF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 15vh;

}

header img{
    width: 50px;
}

header h3 {
    font-size: 1em;
    color: #fff;
    font-weight: 700;
}

header h3:hover{
    color: #eee;
}

header h3:hover::after{
    
}

/* Inicio */

body > #Inicio{
}

#Inicio {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/image\ \(3\).png') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #eee;
}

#Inicio h1 {

    font-size: 3em;
    font-weight: 700;
    margin-bottom: 20px;
}

#Inicio .sep {
    background-color: #eee;
    height: 4px;
    width: 80px;
    margin-bottom: 20px;
}

#Inicio p {
    font-size: 1.2em;
}



/* Sobre */


#Sobre {
    background-color: #2C567F;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

#Sobre h2{
    color: #DEB959;
    font-weight: 700;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

#Sobre p{
    color: #eee;
    font-size: .9em;
}


/* Valores */


#Valores{
    background-color: #333333;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Valores h2{
    color: #DEB959;
    font-weight: 700;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 20px;

}

#Valores p{
    font-size: .9em;
}

#Valores img{
    background-color: #eee;
    border-radius: 100%;
    width: 120px;
}

#Valores .nossos_valores{
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#Valores .nossos_valores div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;

}

#Valores .nossos_valores div h4{ 
    font-size: 1.4em;
    font-weight: 700;

}


/* Lobos Exemplo */

#Lobo_Exemplo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Lobo_Exemplo h2{
    color: #DEB959;
    font-weight: 700;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

#Lobo_Exemplo h4{
    font-size: 1.2em;
    font-weight: 700;
}

#Lobo_Exemplo span{
    font-size: .9em;
    color: #999;
}

#Lobo_Exemplo p {
    font-size: .9em;
}

#Lobo_Exemplo div img{
    width: 100%;
}

#Lobo_Exemplo > div {

        margin-bottom: 20px;
}


/* footer  */

body{
    font-size: 1.2em;
}

footer{

    padding-top: 30px;
    padding-bottom: 30px;

    color: #eee;
    background-color: #222;
    display: flex;
    padding-right:30px;
    padding-left:30px;


}

footer img{
    width: 100%;
    display: none;
}

footer i {
    margin-right: 5px ;
}

footer div div {
    display: flex;
    flex-direction: row;
}


footer div div div {
    margin-bottom: 10px;
}



footer button{
    border: none;
    padding: 7px;
    font-size: 1em;
    font-weight: 700;
    background-color: #DEB959;
}

@media (min-width:830px) {
    section{
        padding-right: 10vw;
        padding-left: 10vw;
    
    }

    #Sobre{
        text-align: center;
    }
 
    #Valores .nossos_valores{
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        align-items: center;
        text-align: center;
    }

    /* Lobo Exemplo */

    #Lobo_Exemplo img{
        min-width: 40vw;
    }


    #Lobo_Exemplo > div{
        display: flex;
        flex-direction: row;
    }
    #Lobo_Exemplo > div:last-child{
        flex-direction: row-reverse;
    }
    
    #Lobo_Exemplo div:first-child{
        padding-right: 15px;
    }

    #Lobo_Exemplo div:last-child{
        padding-right: 15px;
    }

    footer{
        justify-content: space-around;
    }

    footer img{
        display: block;
    }

}